*{
  margin: 0;
  padding: 0;
}
:root{
  --main-color :#0078E7;
}


/* navbar  */
.nav{
  height:700px;
  /* background-color: black; */
}

nav ul{
  padding-top: 35px;
  float: right;
}

.logo{
  font-size: 40px;
  padding-top:20px;
  /* margin-top: 40px; */
  padding-left: 20px;
  color:var(--main-color);
  display: inline-block;
}


nav ul li{
  display: inline;
  padding-right: 50px;
  font-size: 20px;
}

.link{
  text-decoration: none;
  /* color:var(--main-color); */
  color:black;
}

.link:hover{
  color:var(--main-color);
}

.active{
  color:var(--main-color);
  text-decoration: none;
}
/* navbar  */
